* {
    box-sizing: border-box;
}

:root {
    --primary-color: #83a4ce;
    --primary-color-light: #b5c6dc;
    --primary-bg-color: #f6f6f6;
    --primary-font-color: #eee;
    --primary-dark-color: #131313;
    --max-width: 1100px;
}

/* Base styling */
section {
    max-width: 90%;
    margin: auto;
}

img {
    width: 100%
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-dark-color);
}

main {
    max-width: var(--max-width);
    margin: auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*Header styling*/
header {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #eee;
}

header img {
    max-width: 100px;
}

header h1 {
    font-size: 24px;
}


/* Navigation styling */
.main-nav {
    background-color: var(--primary-color);
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
}

.main-nav .fas {
    color: var(--primary-dark-color);
    font-size: 32px;
    margin-left: 16px;
}

.main-nav ul {
    background-color: var(--primary-color);
    opacity: 0.9;
    z-index: 100;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 32px 1px;
    margin: 0;
    transition: all 0.4s ease-in;
}

.main-nav ul.hide {
    display: none;
}

.main-nav ul a {
    font-weight: 600;
    text-transform: uppercase;
}

/* Carousel styling*/
.slideshow-container {
	max-width: 450px;
	margin: auto;
    text-align: center;
}

.mySlides {
	display: none;
}
.slideshow-container img {
	vertical-align: middle;
	width: 325px;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 3s;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1s ease;
}

.active-dots {
	background-color: #717171;
}

/* Carousel ends */

/* Exerience section styling */
.experience {
    box-shadow: 0px 16px 18px 0px var(--primary-color);
    border-radius: 10px;
    padding: 16px 0;
    margin: 48px auto;
}

.experience h2 {
    text-align: center;
}

.gallery {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.gallery figure {
    text-align: center;
    width: 90%;
}

.gallery figure img {
    max-width: 400px;
}

/*Home contact styling*/
.home-contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
}

.home-contact h4 {
    margin-bottom: 0;
}

.home-contact .fas {
    font-size: 24px;
    color: #747474;
}

/* Tours styling */
/* College info styling */
.college-info ul li {
	list-style-type: disc;
}

.bold {
	font-weight: 600;
}

/* Card section styling */
.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}
.card {
	display: flex;
	gap: 4px;
	box-shadow: 0px 8px 15px 0px rgba(131, 164, 206, 0.5);
	border-radius: 10px;
	padding: 10px;
}

.card h5,
.card p {
	margin: 4px 0;
}

.card figure {
	width: 25%;
	margin: 0;
    text-align: center;
}

.major {
	color: #2077f2;
	font-weight: 600;
}

.card img {
	width: 100%;
	border-radius: 50%;
}

.card-info {
	width: 75%;
}

.card-info a {
	font-size: 14px;
}

/* Contact us form styling */
#contact {
    margin-bottom: 16px;
    max-width: 600px;
    margin: auto;
  }

  #contact h1 {
      color: var(--primary-dark-color);
      text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    max-width: 600px;
  }

  fieldset {
      border: none;
      padding: 16px;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .info-item label {
      margin: 0;
  }
  
  .info-item input
  .info-item select {
    padding: 8px;
  }

  
  .info-item select:active {
    color: red;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
  }
  
  form button {
    border: none;
    padding: 8px 0;
    background-color: var(--primary-color-light);
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-in;
    width: 90%;
    margin: auto;
  }
  
  form button:hover {
    background-color: var(--primary-color);
    color: #fff;
  } 

/* FAQ page styling */
.faq {
	max-width: 600px;
	padding: 0 16px;
}

.intro {
	padding: 48px 0;
	text-align: center;
	background-color: var(--primary-font-color);
	line-height: 1.5;
}

.intro h1,
.intro p {
	margin: 0;
}

.faq h2 {
	font-weight: 400;
	text-decoration: underline;
}

.privacy-p {
	margin-bottom: 32px;
	color: var(--primary-color);
	font-size: 20px;
	font-weight: 600;
}

.faq ul {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.faq-ul li {
	gap: 4px;
	box-shadow: 0px 8px 15px 0px rgba(131, 164, 206, 0.2);
	border-radius: 10px;
	padding: 10px;
	list-style-type: square;
	cursor: pointer;
	line-height: 1.5;
}

.faq-ul span {
	display: block;
	font-weight: 700;
	font-style: italic;
}

.faq-ul li a {
	color: #cb380f;
	text-decoration: underline;
}

.faq-ul .hide {
	display: none;
}

.submit-link {
	margin: 48px auto;
	text-align: center;
}

.submit-link button {
	border: none;
	border-radius: 50px;
	padding: 16px;
	background-color: var(--primary-color-light);
	transition: all 0.3s ease-in;
	min-width: 250px;
	width: 50%;
}

.submit-link button a {
	color: #fff;
	font-weight: 700;
}

.submit-link button:hover {
	background-color: var(--primary-color);
	color: #fff;
}

/* Footer styling */

footer {
    background-color: var(--primary-color);
    padding: 8px;
    text-align: center;
}

footer p {
    margin: 0;
    margin-top: 8px;
}


.social {
    text-align: center;
    margin-top: 8px;
  }

  .social a {
      margin-right: 16px;
  }
  
  .fab {
    font-size: 20.8px;
    transition: transform 0.3s ease-in;
  }
  
  .fa-facebook {
    color: #2077f2;
  }
  
  .fa-twitter {
    color: #1c9ceb;
  }
  
  .fa-instagram {
    color: #c435a7;
  }
  
  .fa-pinterest {
    color: #b7081b;
  }

  /* Tablet and desktop styling */
  @media screen and (min-width: 768px) {
    .slideshow-container {
        max-width: 770px;
    }
    
    .slideshow-container img {
        width: 100%;
    }

/* Card styling */
    .card {
        width: 75%;
        margin: auto;
    }
  }

/* Desktop styling */
  @media screen and (min-width: 1024px) {
    /* Gallery styling */
    .gallery figure {
        width: 40%;
        margin: 16px;
    }

    /* Card section styling */
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 47%;
    }
    
    .card img {
        width: 75%;
        border-radius: 50%;
    }
  }